.gallery-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 160px;
    gap: 20px;
}

.photo-gallery-text{
    color: var(--color-gray-500);
    font-size: 2rem;
}

@media (max-width: 500px){
    .photo-gallery-text{
        font-size: 1.5rem;
    }

    .gallery-container{
        padding-top: 120px;
    }
}